[2020-09-09 09:59] Cerbone opened #1 "Not able to add the integration."
Used HACS to do the download however when trying to complete the last step (adding the integration). It simply exits upon clicking the eskom integration.

[code]

[2020-09-09 10:59] swartjean commented on #1
I will take a look at this ASAP. I have not been able to test adding the integration via the default repos in HACS since it just got added, but it looks like it got lost again in the PR for one of my other integrations.

I'll get it added back again and see if I can replicate what you are seeing.

[2020-09-09 11:43] swartjean commented on #1
@Cerbone the integration is now added back to HACS, could you please uninstall the integration, restart your Home Assistant instance, and go through the install procedure again?

I have just tested installing the integration again and it seems to work as expected.

[2020-09-09 12:01] w1tw0lf commented on #1
Having the same issues on my side.

[2020-09-09 12:16] swartjean commented on #1
@w1tw0lf can you please check your Home Assistant logs for any errors or warnings from the integration and share them here?

Please also share your Home Assistant and HACS versions.

I will do some more testing this evening.

[2020-09-09 12:17] w1tw0lf commented on #1
[code]

[2020-09-09 12:29] swartjean commented on #1
Thanks for this. I did something illegal with the `aiohttp_retry` requirement here. I will address it this evening :+1:

[2020-09-09 12:32] w1tw0lf commented on #1
Perfect. Great to see some local integrations for HA

[2020-09-09 17:06] swartjean commented on #1
@Cerbone @w1tw0lf - I have released v1.0.1 that should address this problem, I've tested it on a clean build and it seems to work now.

You should be able to update in HACS, restart HA, and add the integration. Let me know if it works for you.

Thanks for the feedback, it's always nice to see some fellow South Africans in the wild 👋

[2020-09-09 17:21] w1tw0lf commented on #1
Awesome !

Working perfectly on myside.

[2020-09-09 20:11] swartjean commented on #1
Great! If @Cerbone can confirm it works I will close this issue.

[2020-09-10 04:06] Cerbone commented on #1
@swartjean works like a charm. Now I just need to wait for load-shedding to be implemented to see if it updates from 0.

[2020-09-10 04:06] #1 closed, assigned to nobody

[2020-09-12 09:06] parautenbach opened #2 "Installed but no sensor or errors"
## Version of the custom_component
1.0.1 (and HA 0.114.1)

## Configuration

Installed via HACS (and rebooted several times). I've checked that all the files are there:
[code]

HACS still shows it as installed but it doesn't show as an integration under the server's integrations section (not sure if it should). Clicking + and searching for it doesn't yield anything either.

## Describe the bug

No

[2020-09-12 13:57] ipodmusicman commented on #2
You need to click the + to add the integration in HA.  I've just done it now.

[2020-09-12 15:33] parautenbach commented on #2
I did, but it wasn't showing up. Just restarted HA again and now it's showing. Thanks.

[2020-09-12 15:36] swartjean commented on #2
@parautenbach glad you got it sorted, and thanks for assisting @ipodmusicman 👍

[2020-09-12 15:36] parautenbach commented on #2
Now it's doing this (the error repeating and there's also an API backoff message):
[code]

[2020-09-12 15:39] parautenbach commented on #2
It seems to struggle to complete the installation (due to those errors perhaps):

![Screenshot 2020-09-12 at 17 38 51](https://user-images.githubusercontent.com/743320/92999131-df283680-f51e-11ea-92e5-05c82dda3dd1.png)

[2020-09-12 15:44] parautenbach commented on #2
Something's definitely not right: It seems to create multiple platforms or something.

![Screenshot 2020-09-12 at 17 42 00](https://user-images.githubusercontent.com/743320/92999229-85743c00-f51f-11ea-8638-db2fb1570878.png)

[2020-09-12 15:44] parautenbach commented on #2
@ipodmusicman which version of HA are you on and did you install via HACS or manually?

[2020-09-12 15:45] swartjean commented on #2
That's very strange, I can't say that I've ever seen this happen before. Which platform are you running HA on?

[2020-09-12 15:47] ipodmusicman commented on #2
I’m running the latest version. 0.114.3 and I installed via HACS.
Installed the component via HACS
Restarted HA
Added the integration and the sensor was there. No problem at all.

On Sat, 12 Sep 2020 at 17:44, Pieter Rautenbach <notifications@github.com>
wrote:

[2020-09-12 15:54] parautenbach commented on #2
@swartjean it's HA core running an a Pi in a venv.

[2020-09-12 16:09] swartjean commented on #2
Strange. I'll look into it and try do some tests, but at this point I can't say for sure that it's a problem with the integration specifically. Will update if I find anything.

Are you connecting to HA using SSL?

[2020-09-12 20:56] parautenbach commented on #2
I'll also try tomorrow to see if I can learn anything else that could help.

I do use NabuCasa but I was on wifi on my home network when I set it up.

Is the connection to the Eskom API over HTTPS?

[2020-09-13 16:54] parautenbach commented on #2
Did a reboot and clean install of the integration via HACS:
* no sensor created after configuring the integration (the config flow just hangs with no debug output)
* repeated SSL errors in logs

I'd be happy to try any suggestions or to provide more info.

[2020-09-14 12:31] swartjean commented on #2
@parautenbach I spun up a test instance on a VM with HA installed in a Python 3.7 venv. I am (strangely) happy to say that I am seeing some of the same issues that you are.

The first time I attempted to install the integration it just hung indefinitely on the "Please wait" spinner, and after refreshing, deleting, and re-adding the integration, I also saw the error with multiple platforms being ad

[2020-09-14 17:18] swartjean commented on #2
@parautenbach I just merged a PR that I am quite sure will address this issue, but I am going to reopen it so that you can confirm.

Basically what has happened is that "newer" versions of Debian have raised the minimum security level for SSL. ([1](https://wiki.debian.org/ContinuousIntegration/TriagingTips/openssl-1.1.1), [2](https://github.com/psf/requests/issues/4775)) From what I can tell, Esko

[2020-09-16 14:58] parautenbach commented on #2
@swartjean I updated to v1.0.2 last night and there were no problems: the sensor was created. Thanks for the quick turnaround time.

Thanks for the SSL explanation. I agree that contacting Eskom would probably be futile.

Not related to the issue but are you planning on adding more features such as a sensor for one's specific area? I know the Eskom data is (apparently) quite messy but it could be

[2020-09-16 14:58] #2 closed, assigned to nobody

[2020-09-16 17:06] swartjean commented on #2
Yes, this is something I definitely will be implementing. Ideally I would like to be able to provide zone and schedule information based on the location configured in your HA instance. The Eskom API already supports lookups for suburbs and schedules, but unfortunately only for Eskom-supplied areas. This just means that many metropolitan areas will be unsupported if the Eskom API is the sole dataso

[2020-09-18 05:16] brafster opened #4 "Just a question"
Hi,

I've been using my own sensor for the last year. Command line sensor that polls the status. How is this different? One issue I do have is that the eskom status isn't stable. So even if it's stage 2 for the whole day, it will switch between 2 and 0 quite a few times. Not sure if you've managed to sort that out...

[2020-09-18 11:59] swartjean commented on #4
Hi @brafster,

The simple answer is that right now there is not much difference in terms of functionality between using a command line sensor and using this integration, but there may be differences in stability.

That being said, I do plan to continue adding features to this integration, such as zone and schedule lookups based on the location configured in your HA instance.

With regards to stabi

[2020-09-18 12:13] brafster commented on #4
Thanks for the feedback. And thanks for this awesome piece of work! Will install it and give it a try and let you know.

[2020-09-18 12:34] swartjean commented on #4
@brafster no problem at all, hope it works well 👍

I'm going to close this issue, but feel free to open another or reopen it if you have any other questions/comments!

[2020-09-18 12:34] #4 closed, assigned to nobody

[2020-09-27 08:49] denzelm5 opened #5 "Not showing up in Intergrations"
Hi,

Thanks for creating this integration as us South Africans have to plan our lives around Eskom. I downloaded the files and followed the instructions but the "Esksom_Loadshedding_interface" is not appearing under the Integrations .

HA Version :  0.115.3
HACS Version : 1.6.0
Esksom_Loadshedding_interface Version : 1.0.2

Regards

[2020-09-28 08:44] swartjean commented on #5
Hi @denzelm5, thanks for logging an issue 👍

The recommended way to install this integration is using the Home Assistant Community Store ([HACS](https://hacs.xyz/)) but a manual install should work just fine.

Just to confirm - once you have put the `eskom_loadshedding` folder inside your `custom_components` folder in your Home Assistant directory, you still need to actually add the integration to

[2020-09-29 09:17] denzelm5 commented on #5
Hi Jean,

Thanks for your reply. I use the HACS to install the integration, it just took a while to appear but all good now.

Thanks!

Regards
Denzel Marimuthu

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Jean Swart<mailto:notifications@github.com>
Sent: Monday, 28 September 2020 10:44
To: swartjean/ha-eskom-loadshedding<mailto:ha-eskom-loadshedding@noreply

[2020-09-29 09:41] swartjean commented on #5
Great! Thanks for the feedback @denzelm5 👍

[2020-09-29 09:41] #5 closed, assigned to nobody

[2020-10-19 08:17] ToxicDeathX opened #6 "[Info] Pulling Loadshedding Scheduels from an API."
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Pulling Loadshedding Schedule from API.

**Describe alternatives you've considered**
N/A

**Additional context**
**https://mybroadband.co.za/forum/threads/loadshedding-api.672196/post-24589864** I found this article and had a look at it, Could you please add an section using config flows et

[2020-10-19 08:48] swartjean commented on #6
Hi @ToxicDeathX,

Thanks for the feedback. Yes, I am planning to make an update along these lines, but I would like for the suburb to be automatically determined using the location in your home assistant configuration.

The only unfortunate caveat here is that the Eskom API only supports schedule lookups for Eskom-supplied areas. Most metros maintain their own schedules, which would require more i

[2020-10-19 08:54] ToxicDeathX commented on #6
Makes sense with it only being eskom related areas, Just thought id drop some more information for you incase you didn't have the information btw nice addon.

[2020-10-19 08:54] #6 closed, assigned to nobody

[2020-10-19 12:33] swartjean commented on #6
Thanks for the heads up and feedback 👍

[2020-12-04 11:02] tiaanv opened #7 "Schedules"
This is not so much a feature request as it is a question.

The status sensor is great, but of course, the holy grail is being able to have the schedule on hand, and perhaps augment the current sensor stack with a few potential sensors:

- Next Load shedding (DateTime)
- Load shedding Active (True/False)

I have been thinking of writing this for some time, but have been too lazy to calculate an al

[2020-12-04 11:07] tiaanv commented on #7
Doh.  Saw you already covered this in #6 .

However... being a COCT customer Eskom Shedule would not apply, and the API of course is not going to give that data...  Perhaps this is not appropriate for the Integration in general.

[2020-12-14 10:29] tiaanv commented on #7
@swartjean
I have made an attempt to integrate the COCT loadshedding schedule into your sensor... I hacked my way around the existing integration a bit, as I have zero experience in writing an integration.  The implementation is not correct, as it generated multiple devices (one for each sensor)... I think this should really be one device with multiple sensors... there is also the option of adding

[2021-01-18 10:26] cschutte commented on #7
Thanks Tiaan - works well for COCT schedules!

[2021-01-18 10:47] tiaanv commented on #7
@cschutte  with us having a fair amount of load-shedding in the last few days I have had some time to test.  There are one or two bugs, that I have since ironed out.  I will update Github soon.

[2021-01-18 12:34] cschutte commented on #7
Thanks @tiaanv . I do get this error sometimes: "Error fetching eskom_loadshedding data: hour must be in 0..23", and then it does not update. Hopefully that is one of the issues you already saw?

[2021-01-18 12:42] tiaanv commented on #7
Jip… That’s one of them. Fixed.

From: cschutte <notifications@github.com>
Sent: Monday, 18 January 2021 14:35
To: swartjean/ha-eskom-loadshedding <ha-eskom-loadshedding@noreply.github.com>
Cc: Tiaan Viljoen <tiaan@qwix.net>; Mention <mention@noreply.github.com>
Subject: Re: [swartjean/ha-eskom-loadshedding] Schedules (#7)

Thanks @tiaanv<https://github.com/tiaanv> . I do get this error sometimes:

[2021-01-19 06:12] tiaanv commented on #7
@cschutte Github updated with Fixes. Until @swartjean decides if he wants to integrate this into the original Integration, please go ahead and log any issues you discover, or feature requests at my fork: [https://github.com/tiaanv/ha-eskom-loadshedding](https://github.com/tiaanv/ha-eskom-loadshedding).

[2021-03-20 13:44] shubness opened #9 "Add-on running but does not create an entity"
## Version of the custom_component

## Configuration

[code]

## Describe the bug
A clear and concise description of what the bug is.

## Debug log

[code]

[2021-04-05 11:08] swartjean commented on #9
Hi, I am not seeing this issue at the moment but if you can provide some more info (logs, versions, etc.) I can look into it.

[2021-05-06 06:16] w1tw0lf opened #10 "API issue"
Getting the follow error this morning

Logger: custom_components.eskom_loadshedding
Source: helpers/update_coordinator.py:212
Integration: Eskom Loadshedding Interface (documentation, issues)
First occurred: 7:58:21 AM (10 occurrences)
Last logged: 8:12:22 AM

Error fetching eskom_loadshedding data: Error, invalid loadshedding stage received from API after 50 attempts

Integration: v1.0.3

[2021-05-06 06:59] swartjean commented on #10
Hi @w1tw0lf,

The Eskom loadshedding API is not a particularly well-polished machine. It looks like they may be having some issues this morning.

The `GetStatus` endpoint of their API sometimes returns a stage of `-1`, which has no meaning as far as I can tell. In the event that I receive this response, I simply retry until I get something valid. If 50 attempts elapse with no valid response, this

[2021-05-06 07:35] w1tw0lf commented on #10
Yup, seems like the usual eskom problems... 😁

Just thought i might be with the new update of home assistant that was released this am.

[2021-05-06 09:44] Surgical71 commented on #10
I also thought it might be related to my HA core that I updated. But everything was working fine last night after the update so this is just the usual Eskom issue

[2021-05-06 14:32] swartjean commented on #10
Thanks for confirming guys 👍

I am going to close this issue because there is nothing that we can do to address it on the integration side. I'll keep an eye on it but hopefully Eskom sorts themselves out soon.

[2021-05-06 18:17] ipodmusicman opened #11 "Component not starting up"
## Version of the custom_component
1.0.3

## Home Assistant Version:
2021.05

After upgrading to 2021.05, the component is just not starting up.  I turned on debug logging for this component as below:

logger:
  default: info
  logs:
    custom_components.eskom_loadshedding: debug

These are the only log lines I found whereby the component is mentioned.

2021-05-06 20:01:30 INFO (MainThread) [home

[2021-05-06 20:23] swartjean commented on #11
Hi @ipodmusicman,

Unfortunately this is the same issue that was raised earlier today in #10.

The Eskom API seems to be having some issues (note how it always returns a result of -1) and there isn't much that I can do on the integration side to remedy it.

I may be able to refine the startup procedure a bit, but the integration itself will still be broken until Eskom sorts their API out.

[2021-05-06 20:46] cschutte commented on #11
Yes, it is not related to 2021.5 - the failure started this morning at around 5:41am, and I was then still on 2021.4.x.

[2021-05-07 09:17] tinuva commented on #11
Doesn't -1 mean a loadshedding stage of 0 ?

Edit:
Sorry I realize it is the other way around. -1 would mean stage -2.

Can you set the sensor to stage 0 when we receive -1 or 0 or 1 from the Eskom API endpoint? Will fix the integration for now. I think the -1 means eskom have like a 1000MW reserve or something. It shouldn't cause the integration to stop working.

[2021-05-07 09:25] tinuva commented on #11
So to explain the edit:

stage 0 = Eskom meets demand
stage 1 = Eskom needs to shed 1000MW load
stage 2 = Eskom needs to shed 2000MW load
stage -1 = Eskom has 1000MW reserve over and above demand
stage -2 = Eskom has 2000MW reserve over and above demand

So essentially, the eskom api is not currently broken, but the integration is broken for not taking this into account. The integration should set

[2021-05-07 09:32] tinuva commented on #11
Or rather, if the -1 really mean the site is broken, at least let the integration start up, with a stage 0 or whatever the last stage was in the recorder.

[2021-05-07 11:12] swartjean commented on #11
@tinuva I will look into this change.

I have definitely seen cases in the past where the API will return `-1` while loadshedding is in fact active, so `-1` is almost certainly not always a valid state.

For now I will probably still have the integration attempt to retry if a state of `-1` is obtained, but if the maximum number of attempts is exceeded I will just return a state of 0.

This means t

[2021-05-07 11:46] tinuva commented on #11
Yeah I think you are correct, sometimes the -1 happens while loadshedding is active. Annoying right now haha.

[2021-05-07 18:06] ipodmusicman commented on #11
@tinuva When I was still referring to the URL in a curl command, no loadshedding is 1, stage 1 is 2, etc.  I agree, if it returns -1 after a couple of retires, return 0.  Just a pity that there aren't any other APIs out there where you can coincide the stage with the actual schedule.

[2021-05-09 15:37] swartjean commented on #11
I have pushed a fix and a new version with this change, please check it out and confirm that the stage goes back to 0, then we can close this issue 👍

The integration will still take a few seconds to start as it needs to run through all of the API attempts before giving up and returning 0.

[2021-05-11 06:16] #11 closed, assigned to nobody

[2021-05-11 06:17] swartjean commented on #9
Closing due to inactivity.

[2021-05-11 06:17] #9 closed, assigned to nobody

[2021-05-17 09:03] 0xa51f commented on #10
Hi @swartjean  - with loadshedding now resumed, it appears that ESKOM have fixed their API?

i get the correct result at: https://loadshedding.eskom.co.za/LoadShedding/GetStatus

However, I am having huge delays with startup since v1.0.4 (was quicker on v1.0.3 i think)

I am running core-2021.5.4

see logs and note timestamps, during which, my HA is not available whislt this integration tries to c

[2021-05-17 09:34] swartjean commented on #10
Thanks @asifkassam, you're right that the Eskom API does seem to be happier again now. 👍

I noticed the startup issue on my own server - I'm pretty sure it is just the integration running through all of the attempts to the API. I'm going to check it out this evening and I will probably drop the number of attempts significantly and release a new build.

I'm going to reopen this issue in order to tr

[2021-05-17 09:43] 0xa51f commented on #10
thanks @swartjean - i have deleted the integration, restarted, then re-installed it and the problem appears to have resolved itself.

I will let you know if it starts to happen again

[2021-05-17 09:52] swartjean commented on #10
I suspect the only reason that the integration loaded quickly now is because the Eskom API is working properly. If the API starts reporting `-1` again then the startup issue will return.

But thank you for confirming regardless 👍

[2021-05-17 16:08] swartjean commented on #10
I have significantly reduced the number of API attempts that need to fail before returning a stage of `0`. This should improve the startup delay when the API is returning a value of `-1` again.

I will close this as soon as I can test after loadshedding ends on Tuesday.

[2021-05-18 09:39] jacauc opened #12 "Loadshedding status by area"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Ability to configure my ward number into the integration, to know if it is actually currently loadshedding at my house. This will allow me to automatically switch off non-essential loads from my UPS and allow for a longer runtime. Once loadshedding is over, those loads could be switched back

[2021-05-19 07:45] 0xa51f commented on #10
Still taking a significant time to start, even though https://loadshedding.eskom.co.za/LoadShedding/GetStatus returns a valid response (1 - no loadshedding?) quickly

![Screenshot_20210519-095012_Home Assistant](https://user-images.githubusercontent.com/67918736/118775993-c8916680-b887-11eb-94f2-a64a5b6fc9c5.png)

[2021-05-20 09:41] uncappedshady commented on #12
I saw the below information from another website and will post it here if it will assist any developers to integrate it into this integration for home assistant so that we are able to configure area's and suburbs 👍

Information:

Call: http://loadshedding.eskom.co.za/LoadShedding/GetStatus
Returned data: Is a single character/value. If less than 1 then discard. If more or equal subtract 1 for the

[2021-05-20 09:49] swartjean commented on #12
Thanks @uncappedshady. I have seen and played around with these API endpoints before, but the last time I checked the schedules for areas not directly supplied by Eskom were completely missing.

If I open up your last example of https://loadshedding.eskom.co.za/LoadShedding/GetScheduleM/1061287/2/9/1 it doesn't look like there is a schedule, so I'm not sure where the returned HTML that you posted

[2021-05-20 10:01] uncappedshady commented on #12
@swartjean - Agreed. I saw now if I go to my municipality (Ekhurhuleni), all the suburbs returns Tot = 0 so ja not sure but if we can find a way to add that functionality it would be crazy helpful in terms of automation within Hassio.

Example link to my municipality - https://loadshedding.eskom.co.za/LoadShedding/GetSurburbData/?pageSize=1000&pageNum=1&id=168

If you ask Herman Maritz or Dan Well

[2021-05-20 10:25] jacauc commented on #12
Could this be of value?
https://github.com/PolarizedIons/eskom-loadshedding-api#readme

[2021-06-02 18:04] shaundekok opened #13 "Set Frequency"
Give the ability to change the frequency, perhaps set it to start on the hour or 1 minute past. Often load shedding starts and HA is only updated 15 minutes or so afterwards with the change.

[2021-06-09 09:53] Surgical17 opened #14 "Ha- City Of Cape Town Loadshedding"
Hi Swartjean

Is it possible that you can create the same integration for City of Cape Town to read data from their API?
https://www.capetown.gov.za/Family%20and%20home/Residential-utility-services/Residential-electricity-services/Load-shedding-and-outages

This will help alot as they tend to have different stages of load shedding.

If I knew how I would have done it XD

Thanx

[2021-06-10 13:57] cliffordwhansen commented on #14
@Surgical17 Unfortunatly they don't have an API it's links to PDF pages.

I'm not saying it can't be done, just it's not as simple since there is no API

[2021-06-16 19:49] shubness commented on #12
Any updates on this request?

[2022-01-07 08:38] tonertiffi opened #16 "Time left"
Great integration was very happy to see this, thank you, was wondering if it would be possible to have it based on area the amount off time and time left on the schedule in your area for example :

load sheading will begin in 3hours
when you in load sheading time left in the stage eg: 1h45min

something similar to the eskom app

[2022-02-02 19:09] dagwud opened #17 "Integration not starting up"
## Version of the custom_component
1.0.6 (according to const.py)

## Configuration
No specific config - installed months ago via HACS and I don’t recall configuring anything specific. If there are config details needed please point me to them?

## Describe the bug
Pretty sure this would be caused by something on Eskom’s side, but would it be possible to fail more gracefully?

Integration doesn’t s

[2022-02-02 19:17] dagwud commented on #17
More info:

I redownloaded the plug-in via HACS - no change, it still doesn’t start up

[2022-02-03 11:37] dagwud commented on #17
After completely removing the integration, restarting HA, reinstalling the repo, restarting again, resetting my front end cache, and then configuring the integration, it’s now working.

[2022-02-03 11:37] #17 closed, assigned to nobody

[2022-02-03 13:11] swartjean commented on #17
Hi @dagwud, thanks for raising this. I have also noticed some issues with the integration starting up when Eskom's API is being unreliable (i.e. when the requests to https://loadshedding.eskom.co.za/LoadShedding/GetStatus time out). Their API is pretty rough around the edges at the best of times.

I checked this endpoint a few times yesterday when I got the email for your issue and noticed that it

[2022-02-03 13:20] swartjean commented on #16
Hi @tonertiffi, sorry for taking so long to get back to you.

I will leave this issue open in case anybody wants to take a stab at it, but there are some annoying complications that make it a bit tricky.

Eskom has API endpoints for fetching zone IDs by street address and for fetching schedules from those zone IDs. Unfortunately their API only has schedules for Eskom-supplied areas. Most metros (C

[2022-02-04 15:36] fyford commented on #10
Is the API down again?

[2022-02-05 08:18] tonertiffi commented on #16
Good morning.

Trust you well thank you for the reply.

It would be great to have it, would defenently be a game changer with regards to solar inverters, homes be able to know how long  it would be till the outage is going to affect you.

Thanks for the effort always appreciated

Will keep an eye on this integration

Kind regards

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for

[2022-04-12 09:04] tunavis opened #18 "Integration ISSUE"
Experiencing this issue have no idea of what it might be? Screenshot below:
![5ac4d84d0745e_thumb900](https://user-images.githubusercontent.com/8057000/162923551-141f9968-2c45-4aab-ab08-689ec4e60ea1.jpg)

[2022-04-13 10:12] brad55590 opened #19 "Eskom Se Push Business API"
Would be nice to integrate this with the Eskom Se Push Business API in order to get the current stage, co-ordinate identification, as well as up-to-date schedules

[2022-04-13 11:21] biovolt commented on #14
Tiaanv added this feature. Maybe you can ask tiaanv to add a pull request?

https://github.com/tiaanv/ha-eskom-loadshedding

[2022-04-21 20:42] fjordaan00711 commented on #19
Same here

[2022-05-06 07:41] cliffordwhansen commented on #18
Do you see anything in the logs?
Have you tried to remove, restart and readd it?

[2022-05-06 07:46] cliffordwhansen commented on #16
I have started looking into doing something like this using the "scraping" method, but yes getting this to be usefull for everyone is going to be tricky.

@swartjean I do see the ESP has a business API, not sure if you have contacted them yet, can I do so on behalf of this project?

[2022-05-06 08:36] swartjean commented on #16
Hi @cliffordwhansen - apologies for being AWOL on this project for a while. Work has kept me very busy lately.

I have not yet contacted ESP about their business API. It would be an ideal fit for this project otherwise we are going to need to effectively re-implement all of the web scraping that they are doing. Like you said, it will take a huge amount of work to get it in a state where it will be

[2022-05-06 08:54] cliffordwhansen commented on #19
I have contacted EskomSePush to request access, will update this issue with any responses I get from them. _holding thumbs_

For transparency the email:
[code]

[2022-05-06 09:05] geeneo commented on #18
Seems broken with 05/2022 update.  :(

![image](https://user-images.githubusercontent.com/49159962/167101603-efbaba7c-3935-4358-9560-18022857c853.png)

[2022-05-06 09:07] cliffordwhansen commented on #18
The eskom site had a certificate issue this morning (expired), and the site is currently not available (hopefully they installing a new cert)

[2022-05-06 10:26] cliffordwhansen commented on #18
@geeneo I see the certificate has been updated now and intergration seems to be loading again

[2022-05-06 10:44] geeneo commented on #18
Thx  Clifford working again !  :)

[2022-06-30 06:42] wernerhp commented on #19
I've also inquired with ESP to add it to my own HA Integration.  Their Business API is currently only targeted at larger businesses as it comes with a hefty price tag.  In future a Public API may become available.

In the meantime, I've created [this Python library](https://gitlab.com/wernerhp/load-shedding) which wraps the Eskom API and does some caching.  I use it in my own HA Integration, but o

[2022-06-30 06:53] cliffordwhansen commented on #19
Thanks @wernerhp will be great to have a single library, less duplication of code/resources

[2022-09-01 13:05] MohammedHoosen commented on #19
Looks ESP making it available for personal use. Check their post here:
https://www.linkedin.com/pulse/your-business-impacted-outages-introducing-api-dan-wells%3FtrackingId=qhc198dHQ8uBqj%252Bznt1kwQ%253D%253D/?trackingId=qhc198dHQ8uBqj%2Bznt1kwQ%3D%3D

You can request access here
https://docs.google.com/forms/d/e/1FAIpQLSeZhAkhDaQX_mLT2xn41TkVjLkOH3Py3YWHi_UqQP4niOY01g/viewform?usp=sf_link

API Do

[2022-09-01 13:20] cliffordwhansen commented on #19
Awesome find, thanks @MohammedHoosen

#edit: Requested my key (holds thumbs)
#edit2: Got a key and it works nicely :-)

[2022-09-01 13:23] swartjean commented on #19
@MohammedHoosen thanks for this! That is awesome news.

I have gone through their API docs and it looks like it has everything necessary to put together a really useful integration.

I should have some time soon, so I'll start working on a V2 update for this integration that switches over to the ESP API 👍 Each user will obviously have to request their own token from ESP to avoid abuse and quota re

[2022-09-05 15:59] BossLurker opened #20 "Integration not loading after Platform Migration"
HI Jean.

I migrated from a vm installation to a pi 4 8gb Home assistant OS ...

I did a full backup and restore but Loadshedding integration is now not loading.

I have tried deleting and reloading but I still get the integration not loaded message

2022-09-05 17:44:34.573 ERROR (MainThread) [homeassistant.loader] Unexpected exception importing component custom_components.eskom_loadshedding
Trace

[2022-09-06 07:33] BossLurker commented on #20
Hi
I managed to get it working by doing a backup, reflash the sd and repeat the backup restore...
Not sure what caused it but now everything is working....

[2022-09-06 07:33] #20 closed, assigned to nobody

[2022-09-08 06:32] reganerasmus commented on #19
Wow, just read this about the ESP API, that would be incredible as i have always wanted specific automations that kick off when load-shedding hits my specific area - you a legend man

[2022-10-04 14:21] reganerasmus commented on #19
I have also requested my ESP API token in the meanwhile

[2022-10-05 22:00] swartjean commented on #19
An update on this - I've implemented the configuration flow for the ESP API token validation and area lookup and it seems to be working well.

I just need to break the available data out into a couple of new sensors and then I will get a new release out. Should be this weekend if I have time.

One thing to note is that ESP seems to provide a quota of 50 queries per day by default. Loadshedding sta

[2022-10-11 20:07] #19 closed, assigned to nobody

[2022-10-11 20:15] swartjean commented on #19
Let me know if there are any glaring issues, I've only been able to do limited testing due to the lack of CoCT loadshedding recently 👍

[2022-10-11 20:17] swartjean commented on #7
I'm closing this issue, @tiaanv thanks for taking the integration further with the CoCT schedules and apologies for not following up on this. I've moved in a different direction and integrated with the EskomSePush API.

[2022-10-11 20:17] #7 closed, assigned to nobody

[2022-10-11 20:18] swartjean commented on #10
Closing this, the integration no longer uses the Eskom API.

[2022-10-11 20:18] #10 closed, assigned to nobody

[2022-10-11 20:19] swartjean commented on #12
This has been added. Please see #19.

[2022-10-11 20:19] #12 closed, assigned to nobody

[2022-10-11 20:19] swartjean commented on #14
This has been added. Please see #19.

[2022-10-11 20:19] #14 closed, assigned to nobody

[2022-10-11 20:20] swartjean commented on #16
This has been added. Please see #19.

[2022-10-11 20:20] #16 closed, assigned to nobody

[2022-10-11 20:21] swartjean commented on #18
Closing this, see #19.

[2022-10-11 20:21] #18 closed, assigned to nobody

[2022-10-11 20:22] swartjean commented on #13
The integration has been overhauled to use the EskomSePush API (#19). The update frequency can be configured via the integration configuration but the recommended way to automate around loadshedding is to use calendar triggers on upcoming events. See the new README for an example.

[2022-10-11 20:22] #13 closed, assigned to nobody

[2022-10-11 21:27] NyvenZA opened #22 "Can't add integration without API key now."
I am using the HACS option in Home assistant to add the integration and it worked.
Now you have to enter an ESP API key to be able to add the integration. No option to add without it. Not sure it it would work without it.

I had this working until I upgraded and wanted to use the ESP facilities. I don't have a API key yet, so I just tried to add the integration back without a key and it now requir

[2022-10-11 21:43] swartjean commented on #22
Hi, yes the integration has been updated to use the ESP API instead of the Eskom one which had reliability issues and very limited functionality. Unfortunately all of the ESP functionality is locked behind their API, which means that every user needs a key in order to use the integration. There is no point to being able to add the integration without a key, as there is no real functionality withou

[2022-10-12 04:13] w1tw0lf opened #23 "Suggestion for calendar entries and some additional sensors"
As per mybroadband.

Small suggesttion, the 2 calendar entries feels like a duplication of each other. Can you perhaps look at changing one to a national schedule ? As an example, where loadsheding in active, like today, 16:00 till 00:00.

Also maybe make Cape Town an option when adding the intergration.

Also maybe a sensor to show the eskomsepush status, like we had on the forums

[2022-10-12 06:45] w1tw0lf commented on #23
Some of the sensor we created that might benefit here as well.

https://github.com/w1tw0lf/homeassitant/blob/main/eskomsepush.yaml

[2022-10-12 11:08] swartjean commented on #23
Thanks @w1tw0lf, I will try take a look this evening and give some feedback.

Can you please point me to an example of this?

[2022-10-12 11:22] w1tw0lf commented on #23
The code shared in the yaml is a mix of code from mybb, https://mybroadband.co.za/forum/threads/anyone-figured-how-to-use-eskomsepush-to-control-switches-on-ha.1195256/

Looking at it now, the first rest sensor was a value template, that had static status of ok... think it might have gotten confused and used as a way of checking eskomsepush status. Sorry, my mistake... just thinking it can be some

[2022-10-12 14:10] w1tw0lf opened #24 "Calendar event not active"
Comparing to other calendar integrations, it doesn´t change from off to on when start time is reached.

![image](https://user-images.githubusercontent.com/55384762/195365869-6b4a5493-7f75-4fa3-be50-d75c719eef9e.png)

[2022-10-12 17:10] swartjean commented on #24
Hi, this is expected behavior at the moment. How frequently the "value" (the next or current event) that calendar entity displays is updated depends on the scan interval. Since the integration defaults to a two hour scan interval, the entity state will only update every two hours.

As far as I can see this is the case with pretty much all calendar integrations. Some will scan more frequently than

[2022-10-12 17:25] #22 closed, assigned to nobody

[2022-10-12 17:51] w1tw0lf commented on #24
I don´t think it has anything to do with the scan interval. As the scan interval will only update/add/remove events in the calendar.

I use google calendar integration extensively. The calendar status changes based on an active event, in other words, it would turn on at the start time and turn off at the end time.

Here is a screenshot from home assistant forums as and example:

![image](https://u

[2022-10-12 18:39] w1tw0lf commented on #24
Just created a test event on google calendar and here is the results as reference

![Screenshot_2022-10-12-20-35-23_3840x1080](https://user-images.githubusercontent.com/55384762/195422060-1acadbfa-5371-4d5d-89e1-a1b69485efa2.png)

[2022-10-12 19:30] swartjean commented on #24
Thanks for this, I'll take a look at the Google calendar integration source and see what they are doing.

[2022-10-13 19:30] swartjean commented on #24
I took a look at the Google calendar integration and I've pushed an updated to replicate its behaviour. They use a combination of coordinator callbacks and polling to query the API and update the calendar state at different rates. I learned something new, so thanks for pointing it out!

The entities should now update as follows:

* API updates - 2 hours (default)
* Updates to upcoming calendar eve

[2022-10-13 19:34] #24 closed, assigned to nobody

[2022-10-13 20:06] w1tw0lf commented on #24
Pleasure and thank you 🙂

[2022-10-19 09:30] louispires commented on #23
+1 for this - Even just the Next_Loadshedding_Event would be helpful.

I want to show how long to go before the next Load Shedding

[2022-10-19 09:40] w1tw0lf commented on #23
That part is easy with a value template sensor.

[code]

Wouldn´t mind splitting it in to hours and minutes, but haven´t been able to get that part right.

[2022-10-28 03:30] wimdebruyn opened #27 "Changing the EskomsePush API key"
@swartjean , thank you for a great integration.  I am using it to disconnect and reconnect my Inverter system from the grid before and after loadshedding.

Eskomsepush has changed their API token issuing system, requiring all API tokens to be changed before end of November.  Is it possible to add a feature to the configure flow to change the API token?

[2022-10-28 05:25] Dyltong commented on #27
Agreed, thanks @swartjean great integration.

I am having the same issue as @wimdebruyn

Either a way to update the key in the interface or instructions on how to do it another way would be appreciated.

[2022-10-29 10:33] swartjean commented on #27
Hi @wimdebruyn @Dyltong, thanks for the good feedback and glad that you guys are getting some use out of the integration 👍

Yes, this is something that I have been meaning to add to the integration configuration options - I will hopefully get to it during the week and release a new version. Will post an update here as soon as it's ready.

For now the only way to update your API key is to remove an

[2022-10-29 11:13] Dyltong commented on #27
thanks @swartjean

Yes, I confirm that I removed and reinstalled the API yesterday and all the entity names, ID's etc remained the same.

[2022-11-12 08:53] StanderHome opened #28 "Not allowing installation"
Just tried the instalation. Thanks for opening up an integration rather tha  trying to figure out API for newbies...

Once I add the integration it brings up a block to submit something. Its not staying what it needs. I assumed your Key from ESP but if I enter and submit it just blanks it out and I need to re-enter.

I cannot get any further

[2022-11-17 13:20] louispires commented on #27
My Legacy API also expired now, got a new one and couldn't change it.

Would be a nice feature indeed

[2022-11-17 16:58] jlwainwright commented on #27
For the life of me not able to find my new API. I knew it came in, but inbox searches return nothing! Could someone help with the email address that it was sent from?

[2022-11-17 17:34] Elroc commented on #27
Came from noreply@customers.gumroad.com

[2022-11-17 20:21] swartjean commented on #28
Hi, that's a bit strange. I wonder if it isn't a translation/localization issue. Is your home assistant configured for English?

The first text block should be your API token yes. If it blanks it out it should be because the token wasn't valid or maybe had run out of quota for the day. Is this a new token from their Gumroad site?

The second text box would be for your area, after which you should

[2022-11-17 20:30] louispires commented on #27
After changing my API 7 hours ago, I realized it wasnt working.

Logs:
`Logger: homeassistant.components.sensor
Source: custom_components/eskom_loadshedding/sensor.py:120
Integration: Sensor (documentation, issues)
First occurred: 15:18:40 (8 occurrences)
Last logged: 22:27:37

Error adding entities for domain sensor with platform eskom_loadshedding
Error while setting up eskom_loadshedding platfo

[2022-11-17 21:10] swartjean commented on #27
Hi @louispires, I'm not sure what to make of that - it looks like the entity was trying to fetch state attributes before they were populated, which would usually point to something going wrong with the request. Can you double check that you are not out of quota for the day?

I should release an update for the API key configuration this weekend.

[2022-11-18 06:46] louispires commented on #27
@swartjean Yeah I figured maybe the API was not ready yet - Just tried it out now and it Immediately worked.

So all good!

Thanks

[2022-11-18 06:53] StanderHome commented on #28
Hey Jean

Thanks for this.
After I added the issue I kept on trying to see what was happening and what the issues are.

I finally got it right where it showed the area but I tested it with the wrong info. I then had to wait 1 more day before I could action the area again as it just came up with an error the whole time.

All good now though, so I am a happy chappy. Its works brilliantly.

Is there

[2022-11-18 11:00] louispires commented on #23
Thanks @w1tw0lf - I only saw your reply this morning.

Got a little carried away, but I made this:

![image](https://user-images.githubusercontent.com/8841644/202690113-eceaf0eb-4507-46dc-9268-d64e82e462ac.png)

The chip is dynamic, when load_shedding_countdown is `none`, it will not show.

When you are NOT load shedding, but there is an upcoming schedule, it will do a countdown until Load Sheddin

[2022-11-23 08:43] louispires commented on #23
@swartjean How often or when does the Attributes change for calendar.loadshedding_local_events?

![image](https://user-images.githubusercontent.com/8841644/203502909-3415d68f-b978-47db-8f43-68f0059c4e91.png)

I have another event coming up later today:
![image](https://user-images.githubusercontent.com/8841644/203503059-ae4da3d7-df73-4dfb-b205-bb8e0c4edd30.png)

This event ended 13 minutes ago, ho

[2022-11-23 08:51] louispires commented on #23
NVM - Seems to be 15 minutes after the previous event ended...

[2022-11-27 11:41] swartjean commented on #23
Hey @louispires, sorry for the delay. See [this comment](https://github.com/swartjean/ha-eskom-loadshedding/issues/24#issuecomment-1278089086) in #24.

The calendar state updates every 30 seconds, which means that you should see `calendar.loadshedding_local_events` change from true to false within 30 seconds of an event ending.

The upcoming calendar events are updated every 15 minutes, so you sho

[2022-11-27 12:15] swartjean commented on #27
I've released this in v1.1.2 - should hopefully make the process easier for users that need to switch keys.

[2022-11-27 12:15] #27 closed, assigned to nobody